APP_PORT=5001

DB_URL=jdbc:mysql://localhost:3306/sportsbook?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=
DB_PASSWORD=
DB_NAME=sportsbook
DB_DRIVER=com.mysql.cj.Driver
SQL_MODE=never

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=
ACCESS_TOKEN_EXPIRATION=3600
REFRESH_TOKEN_EXPIRATION=604800

LOGGING_LEVEL=DEBUG

MAILGUN_BASE_URL=https://api.mailgun.net
MAILGUN_API_KEY=
MAILGUN_SANDBOX=
MAILGUN_FROM=