spring:
  application:
    name: api-gateway

  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL;DATABASE_TO_LOWER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false
        trace: false

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql # runs 1st
      data-locations: classpath:data.sql # runs 2nd
      platform: h2

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true

server:
  port: 5001

logging:
  level:
    org.springframework.jdbc: DEBUG

